

.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box{
    width: 13rem;
    height: 200px;
    text-align: center;
    
}

.box img{
    margin-top: 10px;
    object-fit: contain;
    width: 85%;
    height: 90%;
}